@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
}

#stack {
  flex: 1;
}

#playzone {
	position:relative;
  display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}

.card {
  float:right;
  margin-left: -100px;
  position: relative;
}

