@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#playzone {

  .card {
    margin-left: -1rem;
  }
}

