@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #1C1c1c;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: flex-end;
}

#dropzone {
  background-color: #111;
  border-radius: 32px;
  height: 300px;
  width: 300px;
  position: fixed;
  top: 50px;
}

#playzone {
	position:relative;
  display:flex;
	flex-wrap:wrap;
  align-items: flex-start;
	justify-content:space-around;
  margin-bottom: 150px;
  margin-left: 50px;
  height: 100px;
}

.card {
  margin-left: -30px;
}

