.card {
  border-radius: 18px;
  position: relative;
  transition: .28s ease-in-out all;
  user-select: none;
  
  &:hover {
    transform: translateY(-3.2rem) scale(1.2);
  }

  svg {
    width: 100px;
  }

  /** values */
  .card__value {
    font-weight: 600;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 54px;
  }

  /** colors */
  &__red { 
    color: #ff2727;  

    .card__value {
      color: #ff2727;
    }
  }

  &__blue { 
    color: #249ad4;

    .card__value {
      color: #249ad4;
    }
  }

  &__green { 
    color: #56c620;  

    .card__value {
      color: #56c620;
    }
  }

  &__yellow { 
    color: #fdcc23;  

    .card__value {
      color: #fdcc23;
    }
  }

}