.card {
  height: 308px;
  display: inline-block;
  transition: .28s ease-in-out all;
  position: relative;
  margin-left: -100px;
  width: 208px;

  &:hover {
    transform: translateY(-1.5rem);
  }

  /** image */
  &__image {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  /** values */
  .card__value {
    font-weight: 600;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 124px;
  }

  /** colors */
  &__red { 
    color: white;  

    .card__value {
      color: red;
    }
  }

  &__blue { 
    color: darkblue;

    .card__value {
      color: blue;
    }
  }

  &__green { 
    color: white;  

    .card__value {
      color: green;
    }
  }

  &__yellow { 
    color: black;  

    .card__value {
      color: yellowgreen;
    }
  }

}